        @media only screen and (max-width: 900px) {
            section {
                background-color: #f1f1f1f1;
                margin: 1%;
                border-radius: 5px;
                box-shadow: -5px 4px 4px #e0e0e0;
                padding: 1%;
            }
        }
        
        @media only screen and (max-width: 800px) {
            #pesoaDesenhando,
            #fig_cartum,
            #fig_abstrado {
                float: none;
                width: 100%;
            }
            #desenhoTecnico,
            #fig_realismo {
                float: none;
                width: 100%;
            }
        }