@media only screen and (max-width: 900px) {
    section {
        background-color: #f1f1f1f1;
        margin: 1%;
        border-radius: 5px;
        box-shadow: -5px 4px 4px #e0e0e0;
        padding: 1%;
    }
}

@media only screen and (max-width: 800px) {
    #pesoaDesenhando,
    #fig_cartum,
    #fig_abstrado {
        float: none;
        width: 100%;
    }
    #desenhoTecnico,
    #fig_realismo {
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    nav ul li {
        float: left;
        clear: both;
        width: 100%;
    }
    nav ul li a {
        text-align: left;
        width: 100%;
    }
    nav {
        align-items: baseline;
    }
    nav ul {}
    .dropdown:hover .dropdown-content {
        display: none;
    }
}