main {
    background-image: url(/Users/franc/OneDrive/Documentos/GitHub/projetoA1/img/fundo22.jpg);
    padding-top: 1%;
}

header {
    background-image: url(/Users/franc/OneDrive/Documentos/GitHub/projetoA1/img/Doodle-Art-Kerby-Rosanes-152.jpg);
}

blockquote {
    background-image: url(/Users/franc/OneDrive/Documentos/GitHub/projetoA1/img/papel-envelhecido_2.png);
}